// default color palette =>
$color-default: #74757b;
$color-primary: #393e6b;
$color-secondary: #0da088;
$color-light: #fff;
$color-bright: #2cd3b8;
$color-dark: #3b4269;
$color-bg: #eff4f4;;;


// font sizes
$size-xxs: 14px;
$size-xs: 16px;
$size-sm: 18px;
$size-md: 20px;
$size-lg: 24px;
$size-xl: 36px;
$size-xxl: 88px;
$size-xxxl: 150px;

// font weight
$weight-light: 300;
$weight-normal: 400;
$weight-medium: 500;
$weight-semi-bold: 600;
$weight-bold: 700;

// Screen resolution
// Portrait phones
$screen-xs: 320px;
// Landscape phones
$screen-sm: 576px;
// Tablets
$screen-md: 768px;
// Desktops
$screen-lg: 992px;
// Container
$screen-container: 1010px;
// Laptop
$screen-laptop: 1024px;
// Large desktops
$screen-xl: 1200px;


