@font-face {
  font-family: "Ubuntu";
  src: url("../fonts/Ubuntu.ttf") format("truetype"); }

* {
  margin: 0;
  padding: 0;
  outline: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

a {
  text-decoration: none; }

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

ul {
  list-style-type: none; }

.container {
  max-width: 1020px;
  margin: 0 auto; }

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .button_free, .button_tariffes {
    width: 256px;
    height: 48px;
    border-radius: 24px;
    text-transform: uppercase;
    font-family: "Ubuntu", sans-serif;
    font-size: 14px;
    font-weight: 700; }
  .button_free {
    background-color: #2cd3b8;
    color: #fff; }
  .button_tariffes {
    color: #393e6b;
    border: 1px solid #393e6b; }

.header {
  height: 100px;
  -webkit-box-shadow: 0 3px 7px rgba(0, 0, 2, 0.25);
  box-shadow: 0 3px 7px rgba(0, 0, 2, 0.25);
  position: relative; }
  .header__container {
    max-width: 1540px;
    height: 100%;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .header__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1; }
  .header__logo {
    width: 115px;
    height: 30px; }

.menu__login, .menu__registration, .navigation__link {
  font-family: "Ubuntu", sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  color: #74757b; }

.menu__login, .menu__registration {
  margin-right: 35px; }

.menu__item {
  margin-right: 25px; }

.navigation__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.navigation__item {
  margin-right: 25px; }

/*==========  Desktop First Method  ==========*/
.installation-intro {
  padding: 76px 0 68px;
  background: #eff4f4; }
  .installation-intro__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start; }
  .installation-intro__title, .installation-intro__paragraph, .installation-intro__button-free, .installation-intro__button-tariffes {
    font-family: "Ubuntu", sans-serif; }
  .installation-intro__title {
    margin-bottom: 44px;
    font-size: 36px;
    font-weight: 700;
    color: #393e6b;
    text-transform: uppercase; }
  .installation-intro__paragraph {
    margin-bottom: 59px;
    font-size: 16px;
    color: #74757b; }
  .installation-intro__buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .installation-intro__button-free {
    margin-right: 20px; }

.installation-easy__registration-icon {
  width: 50px;
  height: 50px;
  background: url("../img/icons.png") 0 -148px; }

/*==========  Desktop First Method  ==========*/
@media (max-width: 1080px) {
  .footer__container {
    padding: 0 20px; } }

@media (max-width: 900px) {
  .footer__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    text-align: center; } }
