@font-face {
  font-family: "Ubuntu";
  src: url("../fonts/Ubuntu.ttf") format("truetype"); }

* {
  margin: 0;
  padding: 0;
  outline: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

a {
  text-decoration: none; }

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

ul {
  list-style-type: none; }

.container {
  max-width: 1020px;
  margin: 0 auto; }

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; }
  .button_free, .button_tariffes, .button_possibilities, .button_free-test {
    height: 48px;
    border-radius: 24px;
    text-transform: uppercase;
    font-family: "Ubuntu", sans-serif;
    font-size: 14px;
    font-weight: 700; }
  .button_free, .button_tariffes {
    width: 256px; }
  .button_free {
    background-color: #2cd3b8;
    color: #fff; }
    .button_free:hover {
      background-color: #56dcc6; }
  .button_tariffes {
    color: #393e6b;
    border: 1px solid #393e6b; }
    .button_tariffes:hover {
      color: #7077b3;
      border-color: #7077b3; }
  .button_possibilities {
    width: 266px;
    background-color: #2cd3b8;
    color: #fff; }
    .button_possibilities:hover {
      background-color: #56dcc6; }
  .button_free-test {
    width: 276px;
    background-color: #3b4269;
    color: #fff; }
    .button_free-test:hover {
      background-color: #4d578a; }

@media (max-width: 768px) {
  .button_free-test {
    width: 266px; } }

@media (max-width: 320px) {
  .button_possibilities, .button_free-test {
    width: 256px; } }

.list-item-dot {
  min-width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #3b4269; }

.step-icon {
  min-width: 74px;
  height: 74px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; }
  .step-icon:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2); }
  .step-icon_create {
    background: url("../img/icons.png") 0 -74px; }
  .step-icon_activate {
    background: url("../img/icons.png") 0 0; }
  .step-icon_configure {
    background: url("../img/icons.png") -74px -74px; }
  .step-icon_button {
    background: url("../img/icons.png") -74px 0; }
  .step-icon_register {
    background: url("../img/icons.png") -148px 0; }
  .step-icon_test {
    background: url("../img/icons.png") -148px -74px; }

/*==========  Desktop First Method  ==========*/
@media (max-width: 576px) {
  .step-icon {
    -webkit-transform: scale(0.7);
    -ms-transform: scale(0.7);
    transform: scale(0.7); }
    .step-icon:hover {
      -webkit-transform: scale(0.7);
      -ms-transform: scale(0.7);
      transform: scale(0.7); } }

.contact-icon {
  min-width: 40px;
  height: 40px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; }
  .contact-icon:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2); }
  .contact-icon_social {
    background: url("../img/icons.png") -222px 0; }
  .contact-icon_feedback {
    background: url("../img/icons.png") -180px -148px; }
  .contact-icon_mobile-chat {
    background: url("../img/icons.png") -222px -40px; }
  .contact-icon_messengers {
    background: url("../img/icons.png") -140px -148px; }
  .contact-icon_yandex {
    width: 38px;
    background: url("../img/icons.png") -222px -120px; }
  .contact-icon_email {
    background: url("../img/icons.png") -100px -148px; }
  .contact-icon_chat-bots {
    background: url("../img/icons.png") -222px -80px; }

.burger {
  display: none;
  height: 5px;
  width: 57px;
  position: absolute;
  top: 50px;
  left: 70px;
  background-color: #2cd3b8;
  cursor: pointer;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; }
  .burger::before {
    content: '';
    height: 5px;
    width: 57px;
    position: absolute;
    bottom: 17px;
    right: 0;
    background-color: #2cd3b8; }
  .burger::after {
    content: '';
    height: 5px;
    width: 57px;
    position: absolute;
    top: 17px;
    right: 0;
    background-color: #2cd3b8; }
  .burger_active {
    -webkit-transform: translateX(70vw) rotate(-45deg);
    -ms-transform: translateX(70vw) rotate(-45deg);
    transform: translateX(70vw) rotate(-45deg); }
    .burger_active::before {
      -webkit-transform: translateY(17px) rotate(90deg);
      -ms-transform: translateY(17px) rotate(90deg);
      transform: translateY(17px) rotate(90deg); }
    .burger_active::after {
      opacity: 0; }

/*==========  Desktop First Method  ==========*/
@media (max-width: 1024px) {
  .burger {
    display: block; } }

@media (max-width: 576px) {
  .burger {
    left: 40px; } }

@media (max-width: 425px) {
  .burger {
    height: 3px;
    width: 40px; }
    .burger::before {
      height: 3px;
      width: 40px;
      bottom: 11px; }
    .burger::after {
      height: 3px;
      width: 40px;
      top: 11px; }
    .burger_active {
      -webkit-transform: translateX(65vw) rotate(-45deg);
      -ms-transform: translateX(65vw) rotate(-45deg);
      transform: translateX(65vw) rotate(-45deg); }
      .burger_active::before {
        -webkit-transform: translateY(11px) rotate(90deg);
        -ms-transform: translateY(11px) rotate(90deg);
        transform: translateY(11px) rotate(90deg); } }

.header {
  height: 100px;
  -webkit-box-shadow: 0 3px 7px rgba(0, 0, 2, 0.25);
  box-shadow: 0 3px 7px rgba(0, 0, 2, 0.25);
  position: relative; }
  .header__container {
    max-width: 1540px;
    height: 100%;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .header__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1; }
  .header__logo {
    width: 115px;
    height: 30px;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s; }
    .header__logo_hide {
      -webkit-transform: scale(0);
      -ms-transform: scale(0);
      transform: scale(0); }

.menu__login, .menu__registration, .navigation__link {
  font-family: "Ubuntu", sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  color: #74757b;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; }
  .menu__login:hover, .menu__registration:hover, .navigation__link:hover {
    color: #b5b6b9; }

.menu__login, .menu__registration {
  margin-right: 35px; }

.menu__item {
  margin-right: 25px; }

.navigation__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.navigation__item {
  margin-right: 25px; }

.mobile-menu {
  -webkit-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  transform: translateX(-100%);
  width: 70%;
  left: 0;
  top: 0;
  position: fixed;
  z-index: 1;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s; }
  .mobile-menu_active {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0); }
  .mobile-menu__list {
    padding: 65px 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100vh;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #fff;
    text-align: right; }
  .mobile-menu__item {
    margin-bottom: 15px;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    color: #74757b;
    text-transform: uppercase; }

/*==========  Desktop First Method  ==========*/
@media (max-width: 1565px) {
  .header__container {
    padding: 0 25px; } }

@media (max-width: 1024px) {
  .header__container {
    padding: 0 70px; }
  .menu__authorization, .navigation {
    display: none; } }

@media (max-width: 576px) {
  .header__container {
    padding: 0 140px; } }

.installation-intro {
  padding: 83px 0 68px;
  background: #eff4f4; }
  .installation-intro__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start; }
  .installation-intro__title, .installation-intro__paragraph, .installation-intro__button-free, .installation-intro__button-tariffes {
    font-family: "Ubuntu", sans-serif; }
  .installation-intro__title {
    margin-bottom: 44px;
    font-size: 36px;
    font-weight: 700;
    color: #393e6b;
    text-transform: uppercase;
    line-height: 26px; }
  .installation-intro__paragraph {
    margin-bottom: 59px;
    font-size: 16px;
    color: #74757b; }
  .installation-intro__buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .installation-intro__button-free {
    margin-right: 20px; }

/*==========  Desktop First Method  ==========*/
@media (max-width: 1090px) {
  .installation-intro {
    padding: 83px 70px 68px; } }

@media (max-width: 768px) {
  .installation-intro__buttons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .installation-intro__button-free {
    margin-bottom: 15px; } }

@media (max-width: 576px) {
  .installation-intro {
    padding: 83px 40px 68px; }
    .installation-intro__title {
      font-size: 24px; } }

@media (max-width: 320px) {
  .installation-intro {
    padding: 53px 40px 48px; }
    .installation-intro__title {
      margin-bottom: 30px; }
    .installation-intro__paragraph {
      margin-bottom: 39px; } }

.installation-easy {
  padding: 75px 0 85px; }
  .installation-easy__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start; }
  .installation-easy__title, .installation-easy__paragraph, .installation-easy__step-number, .installation-easy__step-name {
    font-family: "Ubuntu", sans-serif; }
  .installation-easy__title {
    margin-bottom: 30px;
    font-size: 36px;
    font-weight: 700;
    color: #393e6b;
    text-transform: uppercase;
    line-height: 26px; }
  .installation-easy__paragraph {
    margin-bottom: 85px;
    font-size: 16px;
    color: #74757b; }
  .installation-easy__steps {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .installation-easy__registration, .installation-easy__code-installation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    position: relative; }
  .installation-easy__registration {
    margin-right: 145px; }
  .installation-easy__step-name {
    font-size: 18px;
    color: #0da088;
    text-decoration: underline;
    line-height: 24px;
    letter-spacing: 0.45px;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s; }
    .installation-easy__step-name:hover {
      color: #11cfb0; }
  .installation-easy__step-number {
    position: absolute;
    top: -35px;
    left: -48px;
    font-size: 150px;
    font-weight: 700;
    color: #393e6b;
    opacity: .15; }
  .installation-easy__registration-icon, .installation-easy__code-installation-icon {
    margin-top: 49px;
    margin-bottom: 43px;
    width: 50px;
    height: 50px; }
  .installation-easy__registration-icon {
    background: url("../img/icons.png") 0 -148px; }
  .installation-easy__code-installation-icon {
    background: url("../img/icons.png") -50px -148px; }

/*==========  Desktop First Method  ==========*/
@media (max-width: 1090px) {
  .installation-easy {
    padding: 75px 70px 85px; } }

@media (max-width: 576px) {
  .installation-easy {
    padding: 75px 40px 85px; }
    .installation-easy__title {
      font-size: 24px; }
    .installation-easy__paragraph {
      margin-bottom: 55px; }
    .installation-easy__registration {
      margin-right: 100px; }
    .installation-easy__step-number {
      font-size: 115px;
      top: 0;
      left: -35px; } }

@media (max-width: 400px) {
  .installation-easy__steps {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch; }
  .installation-easy__registration, .installation-easy__code-installation {
    margin-right: 0;
    margin-left: 30px; }
  .installation-easy__registration {
    margin-bottom: 30px; } }

.code-installation {
  padding: 87px 0;
  background-color: #eff4f4; }
  .code-installation__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .code-installation__title, .code-installation__list-item-link, .code-installation__list-item-description {
    font-family: "Ubuntu", sans-serif; }
  .code-installation__title {
    margin-bottom: 70px;
    font-size: 36px;
    font-weight: 700;
    color: #393e6b;
    text-transform: uppercase;
    line-height: 26px; }
  .code-installation__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .code-installation__list-item {
    margin-bottom: 58px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .code-installation__list-item:last-child {
      margin-bottom: 0; }
  .code-installation__list-item-dot {
    margin-right: 29px;
    margin-top: 11px; }
  .code-installation__item-info-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .code-installation__list-item-link {
    margin-bottom: 20px;
    font-size: 24px;
    color: #0da088;
    text-decoration: underline;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s; }
    .code-installation__list-item-link:hover {
      color: #11cfb0; }
  .code-installation__list-item-description {
    font-size: 16px;
    color: #74757b; }
  .code-installation__list-item-description_highlight {
    font-weight: 700; }

/*==========  Desktop First Method  ==========*/
@media (max-width: 1090px) {
  .code-installation {
    padding: 75px 70px 85px; } }

@media (max-width: 576px) {
  .code-installation {
    padding: 75px 40px 85px; }
    .code-installation__title {
      margin-bottom: 50px;
      font-size: 24px; }
    .code-installation__list-item-link {
      font-size: 20px; } }

@media (max-width: 320px) {
  .code-installation {
    padding: 45px 40px 45px; }
    .code-installation__list-item {
      margin-bottom: 38px; }
    .code-installation__list-item-link {
      margin-bottom: 12px; } }

.installation-dashboard {
  padding: 82px 0 87px; }
  .installation-dashboard__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .installation-dashboard__title, .installation-dashboard__list-item-link, .installation-dashboard__list-item-description {
    font-family: "Ubuntu", sans-serif; }
  .installation-dashboard__title {
    margin-bottom: 30px;
    font-size: 36px;
    font-weight: 700;
    color: #393e6b;
    text-transform: uppercase;
    line-height: 40px; }
  .installation-dashboard__paragraph {
    margin-bottom: 70px;
    font-size: 16px;
    color: #74757b; }
  .installation-dashboard__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .installation-dashboard__list-item {
    margin-bottom: 58px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .installation-dashboard__list-item:last-child {
      margin-bottom: 0; }
  .installation-dashboard__list-item-dot {
    margin-right: 29px;
    margin-top: 11px; }
  .installation-dashboard__item-info-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .installation-dashboard__list-item-link {
    margin-bottom: 20px;
    font-size: 24px;
    color: #0da088;
    text-decoration: underline;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s; }
    .installation-dashboard__list-item-link:hover {
      color: #11cfb0; }
  .installation-dashboard__list-item-description {
    font-size: 16px;
    color: #74757b; }
  .installation-dashboard__list-item-description_highlight {
    font-weight: 700; }

/*==========  Desktop First Method  ==========*/
@media (max-width: 1090px) {
  .installation-dashboard {
    padding: 75px 70px 85px; } }

@media (max-width: 768px) {
  .installation-dashboard__paragraph {
    margin-bottom: 50px; } }

@media (max-width: 576px) {
  .installation-dashboard {
    padding: 75px 40px 85px; }
    .installation-dashboard__title {
      margin-bottom: 40px;
      font-size: 24px; }
    .installation-dashboard__list-item-link {
      font-size: 20px; } }

@media (max-width: 320px) {
  .installation-dashboard {
    padding: 45px 40px 45px; }
    .installation-dashboard__title {
      margin-bottom: 30px; }
    .installation-dashboard__paragraph {
      margin-bottom: 30px; }
    .installation-dashboard__list-item {
      margin-bottom: 38px; }
    .installation-dashboard__list-item-link {
      margin-bottom: 12px; } }

.after-installation {
  padding: 70px 0;
  background-color: #eff4f4; }
  .after-installation__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .after-installation__steps {
    margin-bottom: 75px; }
  .after-installation__step {
    margin-bottom: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .after-installation__step:last-child {
      margin-bottom: 0; }
  .after-installation__title, .after-installation__paragraph, .after-installation__step-description {
    font-family: "Ubuntu", sans-serif; }
  .after-installation__title {
    margin-bottom: 25px;
    font-size: 36px;
    font-weight: 700;
    color: #393e6b;
    text-transform: uppercase; }
  .after-installation__paragraph {
    margin-bottom: 60px;
    font-size: 16px;
    color: #74757b; }
  .after-installation__step-icon {
    margin-right: 37px; }
  .after-installation__step-description {
    font-size: 18px;
    color: #393e6b; }
    .after-installation__step-description_highlight {
      font-weight: 700;
      font-size: 24px; }
  .after-installation__buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .after-installation__button-possibilities {
    margin-right: 20px; }

/*==========  Desktop First Method  ==========*/
@media (max-width: 1090px) {
  .after-installation {
    padding: 70px; } }

@media (max-width: 768px) {
  .after-installation__buttons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .after-installation__button-possibilities {
    margin-bottom: 15px; } }

@media (max-width: 576px) {
  .after-installation {
    padding: 70px 40px; }
    .after-installation__title {
      font-size: 24px; }
    .after-installation__paragraph {
      margin-bottom: 40px; }
    .after-installation__step {
      margin-bottom: 20px; }
    .after-installation__step-description_highlight {
      font-size: 18px; }
    .after-installation__step-icon {
      margin-right: 20px; } }

.channels {
  padding: 66px 0 76px; }
  .channels__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .channels__paragraph {
    margin-bottom: 73px;
    font-size: 18px;
    color: #393e6b; }
  .channels__list {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (auto)[3];
    grid-template-columns: repeat(3, auto);
    row-gap: 45px;
    -webkit-column-gap: 85px;
    column-gap: 85px; }
  .channels__list-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .channels__icon {
    margin-right: 29px; }
    .channels__icon_yandex {
      margin-left: 2px; }
  .channels__name {
    font-family: "Ubuntu", sans-serif;
    font-size: 18px;
    text-decoration: underline;
    color: #0da088;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s; }
    .channels__name:hover {
      color: #11cfb0; }

/*==========  Desktop First Method  ==========*/
@media (max-width: 1090px) {
  .channels {
    padding: 66px 70px 76px; } }

@media (max-width: 992px) {
  .channels__list {
    -ms-grid-columns: (auto)[2];
    grid-template-columns: repeat(2, auto); } }

@media (max-width: 768px) {
  .channels__paragraph {
    margin-bottom: 45px; }
  .channels__list {
    -ms-grid-columns: auto;
    grid-template-columns: auto;
    row-gap: 45px;
    -webkit-column-gap: 85px;
    column-gap: 85px; }
  .channels__list-item_messengers {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1; }
  .channels__list-item_chat-bots {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2; }
  .channels__list-item_feedback {
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3; }
  .channels__list-item_yandex {
    -webkit-box-ordinal-group: 5;
    -ms-flex-order: 4;
    order: 4; }
  .channels__list-item_mobile-chat {
    -webkit-box-ordinal-group: 6;
    -ms-flex-order: 5;
    order: 5; }
  .channels__list-item_email {
    -webkit-box-ordinal-group: 7;
    -ms-flex-order: 6;
    order: 6; } }

@media (max-width: 576px) {
  .channels {
    padding: 66px 40px 76px; } }

.footer {
  padding: 55px 0 60px;
  background-color: #393e6b; }
  .footer__container {
    max-width: 1505px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .footer__rights, .footer__phone-number, .footer__address, .footer__email, .footer__work-hours {
    font-family: "Ubuntu", sans-serif;
    color: #eff4f4; }
  .footer__rights, .footer__address, .footer__work-hours {
    font-weight: 300; }
  .footer__logo {
    width: 145px;
    height: 35px;
    margin-bottom: 25px; }
  .footer__rights {
    font-size: 14px; }
  .footer__phone-number-wrapper {
    margin-bottom: 30px; }
    .footer__phone-number-wrapper:last-child {
      margin-bottom: 0; }
  .footer__phone-number {
    margin-bottom: 10px;
    font-size: 20px; }
    .footer__phone-number_main {
      margin-bottom: 20px;
      font-size: 24px; }
  .footer__emails-wrapper {
    margin-bottom: 30px; }
  .footer__address, .footer__email, .footer__work-hours {
    font-size: 14px; }
  .footer__email {
    margin-bottom: 10px; }
    .footer__email:last-child {
      margin-bottom: 0; }

/*==========  Desktop First Method  ==========*/
@media (max-width: 1575px) {
  .footer {
    padding: 55px 70px 60px; } }

@media (max-width: 992px) {
  .footer__logo, .footer__phone-numbers, .footer__emails {
    display: none; } }

@media (max-width: 576px) {
  .footer {
    padding: 40px; } }
