.footer {
    padding: 30px 0;
    background-color: #222;

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__rights {
        font-family: 'Open Sans', sans-serif;
        font-size: 12px;
        font-weight: 400;
        color: #b2b2b2;

        &_highlight {
            font-weight: 700;
        }
    }

    &__social {
        display: flex;
    }

    &__social-item {
        margin-left: 15px;
    }
}

/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
}

/* Container */
@media only screen and (max-width: 1140px) {
    .footer__container {
        padding: 0 15px;
    }
}

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
    .footer__container {
        flex-direction: column;
    }

    .footer__rights {
        margin-bottom: 25px;
    }
}

@media only screen and (max-width: 576px) {
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
}

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
}
