// default color palette =>
$color-done: #4ea31e;
$color-in-progress: #f49530;
$color-undone: #e5e5e5;
$color-font: #949494;

// font sizes
$size-xs: 12px;
$size-sm: 18px;
$size-md: 22px;

// font weight
$weight-light: 300;
$weight-normal: 400;
$weight-medium: 500;
$weight-semi-bold: 600;
$weight-bold: 700;

// Screen resolution
// Portrait phones
$screen-xs: 320px;
// Mobile L
$screen-ml: 425px;
// Landscape phones
$screen-sm: 576px;
// Tablets
$screen-md: 768px;
// Desktops
$screen-lg: 992px;
// Laptop
$screen-laptop: 1024px;
// Large desktops
$screen-xl: 1200px;


