.installation-easy {
    padding: 75px 0 85px;

    &__container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    &__title, &__paragraph, &__step-number, &__step-name {
        font-family: "Ubuntu", sans-serif;
    }

    &__title {
        margin-bottom: 30px;
        font-size: $size-xl;
        font-weight: $weight-bold;
        color: $color-primary;
        text-transform: uppercase;
        line-height: 26px;
    }

    &__paragraph {
        margin-bottom: 85px;
        font-size: $size-xs;
        color: $color-default;
    }

    &__steps {
        display: flex;
    }

    &__registration, &__code-installation {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        position: relative;
    }

    &__registration {
        margin-right: 145px;
    }

    &__step-name {
        font-size: $size-sm;
        color: $color-secondary;
        text-decoration: underline;
        line-height: 24px;
        letter-spacing: 0.45px;
        transition: 0.3s;

        &:hover {
            color: lighten($color-secondary, 10%);
        }
    }

    &__step-number {
        position: absolute;
        top: -35px;
        left: -48px;
        font-size: $size-xxxl;
        font-weight: $weight-bold;
        color: $color-primary;
        opacity: .15;
    }

    &__registration-icon, &__code-installation-icon {
        margin-top: 49px;
        margin-bottom: 43px;
        width: 50px; 
        height: 50px;
        
    }

    &__registration-icon {
        background: url('../img/icons.png') -0 -148px;
    }

    &__code-installation-icon {
        background: url('../img/icons.png') -50px -148px;
    }
}

/*==========  Desktop First Method  ==========*/

@media (max-width: 1090px) {
    .installation-easy {
        padding: 75px 70px 85px;
    }
}

@media (max-width: $screen-sm) {
    .installation-easy {
        padding: 75px 40px 85px;

        &__title {
            font-size: $size-lg;
        }

        &__paragraph {
            margin-bottom: 55px;
        }

        &__registration {
            margin-right: 100px;
        }

        &__step-number {
            font-size: 115px;
            top: 0;
            left: -35px;
        }
    }
}

@media (max-width: 400px) {
    .installation-easy__steps {
        flex-direction: column;
        align-items: stretch;
    }

    .installation-easy__registration, .installation-easy__code-installation {
        margin-right: 0;
        margin-left: 80px;
    }

    .installation-easy__registration {
        margin-bottom: 30px;
    }
}

