// default color palette =>
$color-default: #555;
$color-bg: #ddd;
$color-bg-table: #eee;
$color-highlight: #d24a43;
$color-light: #fff;

// font sizes
$size-xxs: 14px;
$size-xs: 16px;
$size-sm: 18px;
$size-md: 20px;
$size-lg: 30px;

// font weight
$weight-light: 300;
$weight-normal: 400;
$weight-medium: 500;
$weight-semi-bold: 600;
$weight-bold: 700;

// Screen resolution
// Portrait phones
$screen-xs: 320px;
// Mobile L
$screen-ml: 425px;
// Landscape phones
$screen-sm: 576px;
// Tablets
$screen-md: 768px;
// Desktops
$screen-lg: 992px;
// Laptop
$screen-laptop: 1024px;
// Container
$screen-container : 1180px;
// Large desktops
$screen-xl: 1200px;


