.installation-intro {
    padding: 76px 0 68px;
    background: $color-bg;

    &__container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    &__title, &__paragraph, &__button-free, &__button-tariffes {
        font-family: "Ubuntu", sans-serif;
    }

    &__title {
        margin-bottom: 44px;
        font-size: $size-xl;
        font-weight: $weight-bold;
        color: $color-primary;
        text-transform: uppercase;
    }

    &__paragraph {
        margin-bottom: 59px;
        font-size: $size-xs;
        color: $color-default;
    }

    &__buttons {
        display: flex;
    }

    &__button-free {
        margin-right: 20px;
    }
}
