.step-icon {
    min-width: 74px;
    height: 74px;
    transition: 0.3s;

    &:hover {
        transform: scale(1.2);
    }

    &_create {
        background: url('../img/icons.png') -0 -74px; 
    }

    &_activate {
        background: url('../img/icons.png') -0 -0; 
    }

    &_configure {
        background: url('../img/icons.png') -74px -74px; 
    }

    &_button {
        background: url('../img/icons.png') -74px -0; 
    }

    &_register {
        background: url('../img/icons.png') -148px -0; 
    }

    &_test {
        background: url('../img/icons.png') -148px -74px; 
    }
}

/*==========  Desktop First Method  ==========*/

@media (max-width: $screen-sm) {
    .step-icon {
        transform: scale(0.7);

        &:hover {
            transform: scale(0.7);
        }
    }
}