@font-face {
  font-family: "Akrobat";
  src: url("../fonts/Akrobat-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Myriad Pro";
  src: url("../fonts/MyriadPro.ttf") format("truetype");
}
