.geometry {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 20px;

    &__long-line {
        width: 100px;
        height: 4px;
        background-color: $orange;
    }

    &__short-line {
        width: 65px;
        height: 4px;
        background-color: $orange;
        opacity: .7;
    }
}