// default color palette =>
$color-default: #130e27;
$color-primary: #5dbbc1;
$color-secondary: #161616;
$color-light: #fff;
$color-pale: #bababa;


// font sizes
$size-xxs: 12px;
$size-xs: 14px;
$size-sm: 18px;
$size-md: 20px;
$size-lg: 22px;
$size-xl: 50px;
$size-xxl: 88px;
$size-xxxl: 90px;

// font weight
$weight-light: 300;
$weight-normal: 400;
$weight-medium: 500;
$weight-semi-bold: 600;
$weight-bold: 700;

// Screen resolution
// Portrait phones
$screen-xs: 320px;
// Landscape phones
$screen-sm: 576px;
// Tablets
$screen-md: 768px;
// Desktops
$screen-lg: 992px;
// Container
$screen-container: 1010px;
// Laptop
$screen-laptop: 1024px;
// Large desktops
$screen-xl: 1200px;


