.social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 41px;
  height: 41px;
  border: 2px solid #fff;
  border-radius: 50%;
}

.social-image {
  &_vk {
    width: 26px;
    height: 15px;
  }

  &_inst {
    width: 19px;
    height: 19px;
  }

  &_fb {
    width: 14px;
    height: 26px;
  }
}
