.code-installation {
    padding: 87px 0;
    background-color: $color-bg;

    &__container {
        display: flex;
        flex-direction: column;
    }

    &__title, &__list-item-link, &__list-item-description {
        font-family: "Ubuntu", sans-serif;
    }

    &__title {
        margin-bottom: 70px;
        font-size: $size-xl;
        font-weight: $weight-bold;
        color: $color-primary;
        text-transform: uppercase;
        line-height: 26px;
    }

    &__list {
        display: flex;
        flex-direction: column;
    }

    &__list-item {
        margin-bottom: 58px;
        display: flex;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__list-item-dot {
        margin-right: 29px;
        margin-top: 11px;
    }

    &__item-info-wrapper {
        display: flex;
        flex-direction: column;
    }

    &__list-item-link {
        margin-bottom: 20px;
        font-size: $size-lg;
        color: $color-secondary;
        text-decoration: underline;
        transition: 0.3s;

        &:hover {
            color: lighten($color-secondary, 10%);
        }
    }

    &__list-item-description {
        font-size: $size-xs;
        color: $color-default;
    }

    &__list-item-description_highlight {
        font-weight: $weight-bold;
    }
}

/*==========  Desktop First Method  ==========*/

@media (max-width: 1090px) {
    .code-installation {
        padding: 75px 70px 85px;
    }
}

@media (max-width: $screen-sm) {
    .code-installation {
        padding: 75px 40px 85px;

        &__title {
            margin-bottom: 50px;
            font-size: $size-lg;
        }

        &__list-item-link {
            font-size: $size-md;
        }
    }
}

@media (max-width: $screen-xs) {
    .code-installation {
        padding: 45px 40px 45px;

        &__list-item {
            margin-bottom: 38px;
        }
    
        &__list-item-link {
            margin-bottom: 12px;
        }
    }
}