@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensans.ttf") format("truetype"); }

@font-face {
  font-family: "Myriad Pro";
  src: url("../fonts/MyriadPro.ttf") format("truetype"); }

* {
  margin: 0;
  padding: 0;
  outline: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

a {
  text-decoration: none; }

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.container {
  max-width: 1065px;
  margin: 0 auto; }

ul {
  list-style-type: none; }

.logo {
  display: block;
  width: 280px;
  height: 112px;
  background-color: #5a9aa8; }

.button {
  display: block;
  text-align: center;
  cursor: pointer; }
  .button_social {
    margin: 0 auto;
    width: 50px;
    height: 50px;
    padding-top: 13px;
    border-radius: 50%;
    border: 3px solid #fff;
    color: #fff; }
    .button_social:hover {
      -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
      transform: scale(1.1); }
  .button_order {
    width: 250px;
    height: 70px;
    border-radius: 5px;
    font-size: 30px;
    color: #1a1a1a;
    font-family: "Myriad Pro", sans-serif;
    background-color: #8c5d79;
    text-transform: uppercase; }
    .button_order:hover {
      background-color: #6d495f; }

.header {
  background-color: #8c5d79; }
  .header__container {
    padding-top: 60px;
    height: 752px; }
  .header__menu {
    margin: 110px auto;
    width: 350px;
    height: 350px;
    border-radius: 50%;
    background-color: #5a9aa8; }
  .header__menu-items {
    position: relative; }
  .header__menu-item-wrapper {
    position: absolute; }
    .header__menu-item-wrapper_second {
      left: 260px; }
    .header__menu-item-wrapper_third {
      top: 130px;
      left: -30px; }
    .header__menu-item-wrapper_fourth {
      top: 130px;
      left: 290px; }
    .header__menu-item-wrapper_fifth {
      top: 265px; }
    .header__menu-item-wrapper_sixth {
      top: 265px;
      left: 260px; }
  .header__menu-item {
    display: block;
    width: 85px;
    height: 85px;
    border-radius: 50%;
    background-color: #fff;
    -webkit-transition: -webkit-transform 0.3s;
    transition: -webkit-transform 0.3s;
    -o-transition: transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s; }
    .header__menu-item:hover {
      -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
      transform: scale(1.2); }
  .header__menu-item-title {
    position: absolute;
    white-space: nowrap;
    color: #1a1a1a;
    font-size: 22px;
    font-family: "Myriad Pro", sans-serif; }
    .header__menu-item-title:hover {
      color: #343434; }
    .header__menu-item-title_left {
      top: 30px;
      right: 97px; }
    .header__menu-item-title_right {
      top: 30px;
      left: 97px; }

/*==========  Desktop First Method  ==========*/
@media (max-width: 1105px) {
  .header__menu-item-title {
    display: none; } }

@media (max-width: 768px) {
  .header__logo {
    margin: 0 auto; } }

@media (max-width: 576px) {
  .header__menu {
    width: 250px;
    height: 250px; }
  .header__menu-item {
    height: 65px;
    width: 65px; }
    .header__menu-item:hover {
      -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
      transform: scale(1.1); }
  .header__menu-item-wrapper {
    position: absolute; }
    .header__menu-item-wrapper_second {
      left: 180px; }
    .header__menu-item-wrapper_third {
      top: 90px;
      left: -30px; }
    .header__menu-item-wrapper_fourth {
      top: 90px;
      left: 215px; }
    .header__menu-item-wrapper_fifth {
      top: 185px; }
    .header__menu-item-wrapper_sixth {
      top: 185px;
      left: 180px; } }

@media (max-width: 768px) {
  .header__container {
    height: 700px; } }

.content__container {
  padding: 30px 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 267px;
  grid-template-columns: 1fr 267px;
  -webkit-column-gap: 70px;
  column-gap: 70px; }

.content__sidebar {
  margin-top: 9px;
  min-height: 150px;
  background-color: #8c5d79; }

.content__comment-author, .content__comment-text, .content__comment-like-title, .content__comment-share-title {
  font-family: "Myriad Pro", sans-serif; }

.content__comment {
  margin-bottom: 45px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 1fr 137px;
  grid-template-columns: auto 1fr 137px; }

.content__comment-avatar-wrapper {
  padding-top: 35px;
  padding-left: 35px;
  background-color: #89c39b; }

.content__comment-avatar {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  background-color: #8c5d79; }

.content__comment-text-wrapper {
  padding-top: 24px;
  padding-left: 12px;
  background-color: #89c39b; }

.content__comment-author {
  margin-bottom: 15px;
  font-size: 18px;
  font-weight: 700; }

.content__comment-text {
  margin-bottom: 20px;
  font-size: 18px; }

.content__comment-social {
  padding-top: 20px;
  background-color: #8c5d79; }

.content__comment-like-title, .content__comment-share-title {
  text-align: center;
  color: #fff; }

.content__comment-like-title {
  margin-bottom: 12px; }

.content__comment-share-title {
  margin-bottom: 8px; }

.content__comment-like-button {
  margin-bottom: 6px; }

.content__comment-share-button {
  margin-bottom: 17px; }

.content__order-item-title, .content__order-item-description {
  font-family: "Open Sans", sans-serif; }

.content__order {
  margin-bottom: 75px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
  grid-template-columns: auto auto;
  gap: 60px 20px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.content__order-item-checkbox {
  display: none; }
  .content__order-item-checkbox:checked + .content__order-item {
    background-color: gray; }

.content__order-item {
  padding-bottom: 10px;
  display: block;
  cursor: pointer; }
  .content__order-item:hover {
    background-color: gray; }

.content__order-item-title {
  margin-bottom: 20px;
  text-align: center;
  text-transform: uppercase; }

.content__order-item-description {
  font-size: 14px; }

.content__order-item-image {
  margin: 0 auto;
  margin-bottom: 30px;
  width: 350px;
  height: 200px;
  background-color: #89c39b; }
  .content__order-item-image:hover {
    background-color: #8c5d79; }

.content__order-button {
  -ms-grid-column-align: center;
  justify-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center; }
  .content__order-button:nth-child(odd) {
    -ms-grid-column-span: 2;
    grid-column: span 2; }

/*==========  Desktop First Method  ==========*/
@media (max-width: 1105px) {
  .content__container {
    padding: 30px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr; } }

@media (max-width: 768px) {
  .content__comment {
    -ms-grid-columns: 1fr 137px;
    grid-template-columns: 1fr 137px; }
  .content__comment-avatar-wrapper {
    display: none; }
  .content__order {
    -ms-grid-columns: auto;
    grid-template-columns: auto; } }

@media (max-width: 576px) {
  .content__comment {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr; }
  .content__order-item-image {
    width: 250px; } }

.footer {
  height: 300px;
  padding-top: 155px;
  background-color: #f5f5f5; }
  .footer__rights {
    text-align: center;
    font-family: "Open Sans", sans-serif;
    color: #1a1a1a;
    font-size: 13px; }

/*==========  Desktop First Method  ==========*/
@media (max-width: 768px) {
  .footer {
    height: 200px;
    padding-top: 100px; } }
