.after-installation {
    padding: 70px 0;
    background-color: $color-bg;

    &__container {
        display: flex;
        flex-direction: column;
    }

    &__steps {
        margin-bottom: 75px;
    }

    &__step {
        margin-bottom: 30px;
        display: flex;
        align-items: center;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__title, &__paragraph, &__step-description {
        font-family: "Ubuntu", sans-serif;
    }

    &__title {
        margin-bottom: 25px;
        font-size: $size-xl;
        font-weight: $weight-bold;
        color: $color-primary;
        text-transform: uppercase;
    }

    &__paragraph {
        margin-bottom: 60px;
        font-size: $size-xs;
        color: $color-default;
    }

    &__step-icon {
        margin-right: 37px;
    }

    &__step-description {
        font-size: $size-sm;
        color: $color-primary;

        &_highlight {
            font-weight: $weight-bold;
            font-size: $size-lg;
        }
    }

    &__buttons {
        display: flex;
    }

    &__button-possibilities {
        margin-right: 20px;
    }
}

/*==========  Desktop First Method  ==========*/

@media (max-width: 1090px) {
    .after-installation {
        padding: 70px;
    }
}

@media (max-width: $screen-md) {
    .after-installation {
        
        &__buttons {
            flex-direction: column;
        }

        &__button-possibilities {
            margin-bottom: 15px;
        }
    }
}

@media (max-width: $screen-sm) {
    .after-installation {
        padding: 70px 40px;

        &__title {
            font-size: $size-lg;
        }

        &__paragraph {
            margin-bottom: 40px;
        }

        &__step {
            margin-bottom: 20px;
        }

        &__step-description_highlight {
            font-size: $size-sm;
        }

        &__step-icon {
            margin-right: 20px;
        }
    }
}